# General
.DS_Store
.vscode/
.idea/

# Environment Variables
.env
.env.local
.env.*

# Node.js (Frontend)
node_modules/
frontend/node_modules/
dist/
frontend/dist/
npm-debug.log
yarn-error.log

# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
backend/venv/
backend/.venv/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/
